<div class="mt-3 d-inline-block iconos" style="width: 15%;" >
    <div class="border sidebar">
      <h2><a [routerLink]="['/develop']" style="color: white;"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h2>
    </div>
    <div class="border sidebar">
        <h2><i class="fa fa-folder" aria-hidden="true"></i></h2>
    </div>
    <div class="border sidebar">
        <h2><i class="fa fa-file-code-o" aria-hidden="true"></i></h2>
    </div>
</div>
<div class="container mt-4 pl-5 mb-4">
    <h4><i class="fa fa-file-code-o" aria-hidden="true"></i> Snippets</h4>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-2 col-md-3 col-sm-4">
          <div class="card">
            <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
            <div class="card-body pt-0 text-center">
              <p class="card-text m-0 font-weight-bold">Snippet 1</p>
              <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-2 col-md-3 col-sm-4">
          <div class="card">
            <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
            <div class="card-body pt-0 text-center">
              <p class="card-text m-0 font-weight-bold">Snippet 2</p>
              <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-2 col-md-3 col-sm-4">
            <div class="card">
              <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
              <div class="card-body pt-0 text-center">
                <p class="card-text m-0 font-weight-bold">Snippet 3</p>
                <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 col-md-3 col-sm-4">
            <div class="card">
              <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
              <div class="card-body pt-0 text-center">
                <p class="card-text m-0 font-weight-bold">Snippet 4</p>
                <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 col-md-3 col-sm-4">
            <div class="card">
              <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
              <div class="card-body pt-0 text-center">
                <p class="card-text m-0 font-weight-bold">Snippet 5</p>
                <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 col-md-3 col-sm-4">
            <div class="card">
              <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
              <div class="card-body pt-0 text-center">
                <p class="card-text m-0 font-weight-bold">Snippet 6</p>
                <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 col-md-3 col-sm-4">
            <div class="card">
              <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
              <div class="card-body pt-0 text-center">
                <p class="card-text m-0 font-weight-bold">Snippet 7</p>
                <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 col-md-3 col-sm-4">
            <div class="card">
              <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
              <div class="card-body pt-0 text-center">
                <p class="card-text m-0 font-weight-bold">Snippet 8</p>
                <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 col-md-3 col-sm-4">
              <div class="card">
                <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
                <div class="card-body pt-0 text-center">
                  <p class="card-text m-0 font-weight-bold">Snippet 9</p>
                  <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-2 col-md-3 col-sm-4">
              <div class="card">
                <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
                <div class="card-body pt-0 text-center">
                  <p class="card-text m-0 font-weight-bold">Snippet 10</p>
                  <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-2 col-md-3 col-sm-4">
              <div class="card">
                <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
                <div class="card-body pt-0 text-center">
                  <p class="card-text m-0 font-weight-bold">Snippet 11</p>
                  <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-2 col-md-3 col-sm-4">
              <div class="card">
                <img src="assets/snippet.png" class="card-img-top" alt="carpeta">
                <div class="card-body pt-0 text-center">
                  <p class="card-text m-0 font-weight-bold">Snippet 12</p>
                  <p class="card-text"><small class="text-muted">Creado: 23/07/20</small></p>
                </div>
              </div>
            </div>
    </div>
</div>
<app-footer ></app-footer>
