<app-new-project></app-new-project>
<div class="container mt-4 pl-5 mb-4" style="min-height: 450px">
    <h4><i class="fa fa-folder" aria-hidden="true"></i> Mis carpetas</h4>
    <hr>
    <div class="row">
      <div class="col-12 col-lg-2 col-md-3 col-sm-4" *ngFor="let carpeta of carpetas">
        <div class="card" > 
          <div class="btn-group dropright">
            <button type="button " class="btn dropdown-toggle text-right pt-0 option"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" style="min-width: 7px !important;">
                  <a class="dropdown-item pl-2 pr-2" data-toggle="modal" data-target="#cambiar" (click)='showModalEdit(carpeta._id, "carpeta")'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a class="dropdown-item pl-2 pr-2" data-toggle="modal" data-target="#confirm" (click)='showModalDelete(carpeta._id, "carpeta")'><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
          </div>
          <img src="assets/folder.ico" class="card-img-top" alt="carpeta" (click)="verCarpeta(carpeta.nombre_carpeta, carpeta._id)">
          <div class="card-body pt-0 text-center">
            <p class="card-text m-0">{{carpeta.nombre_carpeta}}</p>
            <p class="card-text"><small class="text-muted">{{carpeta.fecha_creacion}}</small></p>
          </div>
        </div>
      </div> 
    </div>

    <h4 class="mt-2"><i class="fa fa-file" aria-hidden="true"></i> Mis Archivos</h4>
    <hr>
    <h6 style="color:#e592b5 ; margin-top: 1%;"><i class="fa fa-file-text-o" aria-hidden="true"></i> Proyectos</h6>
    <div class="row">
          <div class="col-12 col-lg-2 col-md-3 col-sm-4" *ngFor="let proyecto of proyectos">
            <div class="card">
              <div class="btn-group dropright">
                <button type="button " class="btn dropdown-toggle text-right pt-0 option"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" style="min-width: 7px !important;">
                  <a class="dropdown-item pl-2 pr-2" data-toggle="modal" data-target="#cambiar" (click)='showModalEdit(proyecto._id, "proyecto")'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a class="dropdown-item pl-2 pr-2" data-toggle="modal" data-target="#confirm" (click)='showModalDelete(proyecto._id, "proyecto")'><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
              </div>
              <img src="assets/proyecto.png" class="card-img-top pt-3 pb-2" alt="carpeta" (click)="verProyecto(proyecto.nombre_proyecto, proyecto._id)">
              <div class="card-body pt-0 text-center">
                <p class="card-text m-0">{{proyecto.nombre_proyecto}}</p>
                <p class="card-text"><small class="text-muted">{{proyecto.fecha_creacion}}</small></p>
              </div>
            </div>
          </div>      
    </div>
    <h6 style="color:#e592b5 ; margin-top: 1%;"><i class="fa fa-file-code-o" aria-hidden="true"></i> Snippets</h6>
    <div class="row">
          
          <div class="col-12 col-lg-2 col-md-3 col-sm-4" *ngFor="let snippet of snippets">
            <div class="card">
              <div class="btn-group dropright">
                <button type="button " class="btn dropdown-toggle text-right pt-0 option"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" style="min-width: 7px !important;">
                  <a class="dropdown-item pl-2 pr-2" data-toggle="modal" data-target="#cambiar" (click)='showModalEdit(snippet._id, "snippet")'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a class="dropdown-item pl-2 pr-2" data-toggle="modal" data-target="#confirm" (click)='showModalDelete(snippet._id, "snippet")'><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
              </div>
              <img src="assets/snippet.png"  data-toggle="modal" data-target="#modifySnippet" (click)='showModalModifySnippet(snippet._id)' class="card-img-top pt-3 pb-3" alt="carpeta">
              <div class="card-body pt-0 text-center">
                <p class="card-text m-0">{{snippet.nombre_snippet}}</p>
                <p class="card-text"><small class="text-muted">{{snippet.fecha_creacion}}</small></p>
              </div>
            </div>
          </div>      
    </div>
</div>

<app-footer></app-footer>

<!-- modal cambiar nombre -->
<div  [class.show]="showModalEdit" [class.id]="modalEditar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" id="cambiar">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar nombre de {{tipoArchivo}}</h5>
        <button type="button"  #closeAddExpenseModal class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation " [formGroup]="cambiarNombre" validate>
            <div class="form-row">
                <div class="col-md-12 mb-12 w-50 p-4">
                    <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese el nuevo nombre" required>
                </div>
            </div>
            <div class="modal-footer center">
              <button type="button" class="btn btn-secondary entrar" data-dismiss="modal">Cancelar</button>
              <button  type="submit" class="btn btn-primary entrar" (click)="editarNombre()">Guardar</button>
            </div>
        </form>
    </div>
  </div>
</div>
</div>
<!-- confirmación de datos -->
<div [class.show]="showModalEliminar" [class.hide]="!showModalEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" id="confirm">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar</h5>
        <button type="button"  #closeAddExpenseModal1 class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Está seguro que desea eliminar {{tipoArchivo == 'carpeta'? 'esta': 'este'}} {{tipoArchivo}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary entrar" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-primary entrar" (click)="eliminar()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modificar codigo del snippet -->
<div *ngIf="showModalSnippet" [class.show]="showModalSnippet" [class.hide]="!showModalSnippet" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" id="modifySnippet">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color:#0b0f1d;">
      <div class="modal-header" style="border-color:aqua; color: aqua;">
        <div class="w-100">
            <button type="button" style="color: aqua;" #closeAddExpenseModal2 class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">{{nombreSnippet}}</h5>
        </div>
          <div class="position-absolute mt-4" style="min-width: 7px">
            <small ><b>Última modificación:</b> {{ultimaMod}}</small>
          </div>
          
      </div>
      <div class="modal-body codigo-snippet pl-4 pr-4">
        <div>
          <select class="custom-select custom-select-sm w-25 mt-2 mb-2 position-absolute" style="background-color: initial; right: 5%;">
            <option selected style="color: darkgray;">Lenguaje</option>
            <option value="javascript">javascript</option>
            <option value="typescript">typescript</option>
            <option value="php">php</option>
            <option value="java">java</option>
            <option value="python">python</option>
            <option value="csharp">csharp</option>
            <option value="sql">sql</option>
          </select>
        </div>
        <div style="height: 300px;" class="mt-5">
          <app-editor (codeNew)="actualizaCodigo($event)" [code]="codigoSnippet" [language]="lenguaje" style="width: 100%; height: 100% !important;"></app-editor>  
        </div>
      </div>
      <div class="modal-footer" style="border-color:aqua;">
        <button type="button" class="btn btn-secondary entrar" data-dismiss="modal">Salir</button>
        <button type="submit" class="btn btn-primary entrar" (click)="guardarCodigoSnippet()">Guardar</button>
      </div>
    </div>
  </div>
</div>