<div style="max-width: 100%" >
    <div class="row w-100 m-0">
        <div>
            <img class="img" src="assets/entrar.gif" alt="">
        </div>
        <div class=" container col-10 col-lg-8 mt-4">
            <form class="needs-validation p-5 border rounded"  [formGroup]="formularioLogin">
                <h4 class="text-center">Iniciar sesión</h4>
                <hr class="mb-5">
                <div class="form-row">
                  <div class="w-100 mb-3">
                    <label for="validationCustom01">Correo electrónico</label>
                    <input
                        [class.is-invalid]="validation('email')" 
                        type="mail" formControlName="email" class="form-control " id="validationCustom01"  required>
                    <div class="invalid-feedback"> 
                       No válido
                    </div>
                  </div>
                </div>
                <div class="form-row mt-1">
                    <div class="w-100 mb-3">
                        <label for="validationCustom02">Contraseña</label>
                        <input 
                        [class.is-invalid]="validation('password')" 
                        type="password"  formControlName="password" class="form-control " id="validationCustom02" required >
                        <div class="invalid-feedback"> 
                            No válido
                        </div>
                    </div>
                </div>
                <div class="mt-5 mb-2 text-center ">
                    <button 
                    [disabled]="!formularioLogin.valid"
                     [routerLink]="['/home']" 
                     class="btn btn-primary entrar w-100" type="submit" (click)="login()">Entrar</button>
                </div>
                <div class="mb-2 text-center">
                    <div>
                        <a href="" ><small>¿Olvidaste tu contraseña?</small></a>
                    </div>
                    <div>
                        <a [routerLink]="['/registrarse']" class="mt-2"><small>Regístrate</small></a>
                    </div>
                </div>
              </form>  
        </div>
    </div>
</div>
<!-- [routerLink]="['/home']" -->




// <!-- <form class="form-inline">
//     <div class="form-group">
//       <label for="inputPassword6">Password</label>
//       <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
//       <small id="passwordHelpInline" class="text-muted">
//         Must be 8-20 characters long.
//       </small>
//     </div>
//   </form> -->
