<div style="background-color: #00287A;">
    <img class="float-right  h-auto img-fluid  d-block w-25 mt-4 mr-5 col-lg-5 col-md-7 col-sm"  src="assets/landing.png" alt="">

    <div class="container p-5" style="color: white;">
        <div ml-4>
            <h1 style="font-size: 6em;">DevFast</h1>
            <h3 class="pt-1 pb-4">Tu plataforma de desarrollo rápido</h3>
            <button type="button" class="btn btn-lg empezar" [routerLink]="['/registrarse']">Empieza ahora</button>
        </div>
    </div>
</div>
<div>
    <div class="w-100 text-center icon">
        <img src="assets/iconos.png" class="logos" alt="iconos">
    </div>
    
</div>
<div style="background-color: #13B3E6" class="row" >
    <div class="w-100 text-center">
        <img src="assets/HTML_CSS_JS.gif" alt="">
    </div>
</div>
<div style="background-color: #00287A" class="row" >
    <div class="container p-5 col-md-4" style="color: white;">
        <div>
            <h1 style="font-size: 4em;">Desarrolla</h1>
            <h3 class="pt-1 pb-4">tu plataforma con HTML</h3>
        </div>
    </div>
    <div class="col-md-3 mr-auto" >
        <img class="float-right  h-auto img-fluid  d-block mt-4"  src="assets/tri.gif" alt="">
    </div>
</div>
<div style="background-color: #C4E8F4" class="row" >
    <div class="col-md-3 ml-auto" >
        <img class="float-right  h-auto img-fluid  d-block mt-4"  src="assets/css.gif" alt="">
    </div>
    <div class="container p-5 col-md-4" style="color: black;">
        <div class="text-lg-right">
            <h1 style="font-size: 4em;">Personaliza</h1>
            <h3 class="pt-1 pb-4">a tu gusto con CSS</h3>
        </div>
    </div>
</div>
<div style="background-color: #F8DA59" class="row" >
    <div class="container p-5 col-md-4" style="color: white;">
        <div>
            <h1 style="font-size: 4em;">Programa</h1>
            <h3 class="pt-1 pb-4">su funcionamiento con JavaScript</h3>
        </div>
    </div>
    <div class="col-md-3 mr-auto" >
        <img class="float-right  h-auto img-fluid  d-block mt-5 py-4"  src="assets/javascript.gif" alt="">
    </div>
</div>

<app-footer></app-footer>