<div class="container mt-4 pl-5 mb-4">
    <h4><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Planes</h4>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-4 col-md-3 col-sm-4">
          <div class="card border">
            <div class="card-body text-center" style="background-color: rgb(243, 177, 243);">
                <h3 class="card-text m-0 font-weight-bold">BÁSICO</h3>
            </div>
            <div class="card-body pt-0 text-center">
                <h1>$10</h1>
                <p>6 Proyectos</p>
                <p>4 Snippets</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-3 col-sm-4">
            <div class="card border">
              <div class="card-body text-center" style="background-color: violet;">
                  <h3 class="card-text m-0 font-weight-bold">ESTÁNDAR</h3>
              </div>
              <div class="card-body pt-0 text-center">
                  <h1>$30</h1>
                  <p>20 Proyectos</p>
                  <p>10 Snippets</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-3 col-sm-4">
            <div class="card border">
              <div class="card-body text-center" style="background-color: rgb(128, 69, 128);">
                  <h3 class="card-text m-0 font-weight-bold">PRÉMIUM</h3>
              </div>
              <div class="card-body pt-0 text-center">
                  <h1>$50</h1>
                  <p>Proyectos ilimitados</p>
                  <p>Snippets ilimitados</p>
              </div>
            </div>
          </div>'
    </div>
</div>
<app-footer style="position: fixed; width: 100%; bottom: 0;"></app-footer>
